<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.kaiyu.wms.dao.UserDao">
    <resultMap id="BaseResultMap" type="work.kaiyu.wms.domain.User">
        <id column="userId" jdbcType="BIGINT" property="userId" />
        <result column="userCode" jdbcType="VARCHAR" property="userCode" />
        <result column="userPassword" jdbcType="VARCHAR" property="userPassword" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="userMobile" jdbcType="VARCHAR" property="userMobile" />
        <result column="userEmail" jdbcType="VARCHAR" property="userEmail" />
        <result column="companyId" jdbcType="BIGINT" property="companyId" />
        <result column="userType" jdbcType="INTEGER" property="userType" />
        <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
        <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="modifyBy" jdbcType="BIGINT" property="modifyBy" />
        <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
    </resultMap>
    <resultMap id="WithDetailResultMap" type="work.kaiyu.wms.domain.User">
        <id column="userId" jdbcType="BIGINT" property="userId" />
        <result column="userCode" jdbcType="VARCHAR" property="userCode" />
        <result column="userPassword" jdbcType="VARCHAR" property="userPassword" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="userMobile" jdbcType="VARCHAR" property="userMobile" />
        <result column="userEmail" jdbcType="VARCHAR" property="userEmail" />
        <result column="companyId" jdbcType="BIGINT" property="companyId" />
        <result column="userType" jdbcType="INTEGER" property="userType" />
        <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
        <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="modifyBy" jdbcType="BIGINT" property="modifyBy" />
        <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
        <!--指定联合查询出的书籍分类字段 -->
        <association property="company" javaType="work.kaiyu.wms.domain.Company">
            <id column="companyId" jdbcType="BIGINT" property="companyId" />
            <result column="companyName" jdbcType="VARCHAR" property="companyName" />
        </association>
        <association property="dataDictionary" javaType="work.kaiyu.wms.domain.DataDictionary">
            <id column="dataId" jdbcType="BIGINT" property="dataId" />
            <result column="typeCode" jdbcType="VARCHAR" property="typeCode" />
            <result column="typeName" jdbcType="VARCHAR" property="typeName" />
            <result column="valueId" jdbcType="INTEGER" property="valueId" />
            <result column="valueName" jdbcType="VARCHAR" property="valueName" />
            <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
            <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
            <result column="modifyBy" jdbcType="BIGINT" property="modifyBy" />
            <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
        </association>
    </resultMap>
    <select id="queryAllUser" resultMap="BaseResultMap">
        select * from User
    </select>
    <select id="queryAllUserForDetail" resultMap="WithDetailResultMap">
        SELECT
            u.userCode,
            u.userName,
            userMobile,
            u.userEmail,
            c.companyName,
            u_dd.valueName
        FROM
            `user` AS u
            LEFT JOIN `company` AS c ON u.companyId = c.companyId
            LEFT JOIN ( SELECT valueId, valueName FROM `data_dictionary` WHERE typeCode = "USER_TYPE" ) AS u_dd ON u.userType = u_dd.valueId
        ORDER BY u.userId
    </select>

<!--    <insert id="insert" keyColumn="userId" keyProperty="userId" parameterType="org.example.ec.entities.UserInfo" useGeneratedKeys="true">-->
<!--        insert into User (userCode, userPassword, userName)-->
<!--        values (#{userCode,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR});-->
<!--    </insert>-->

<!--    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">-->
<!--        delete from User-->
<!--        where userId = #{userId,jdbcType=BIGINT}-->
<!--    </delete>-->

<!--    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="org.example.ec.entities.UserInfo">-->
<!--        select * from User-->
<!--        where userId = #{userId,jdbcType=BIGINT}-->
<!--    </select>-->

<!--    <select id="selectByUserCode" parameterType="java.lang.String" resultType="org.example.ec.entities.UserInfo">-->
<!--        select * from User-->
<!--        where userCode = #{userCode,jdbcType=BIGINT}-->
<!--    </select>-->

<!--    <update id="updateByPrimaryKey" parameterType="org.example.ec.entities.UserInfo">-->
<!--        update User-->
<!--        <trim prefix="set" suffixOverrides=",">-->
<!--            <if test="userName!=null">-->
<!--                userName = #{userName},-->
<!--            </if>-->
<!--            <if test="userPassword!=null">-->
<!--                userPassword = #{userPassword},-->
<!--            </if>-->
<!--        </trim>-->
<!--        where userId = #{userId,jdbcType=BIGINT}-->
<!--    </update>-->

<!--    <update id="updateUserStatus" parameterType="org.example.ec.entities.UserInfo">-->
<!--        update User set-->
<!--           userStatus = 2-->
<!--        where userId = #{userId,jdbcType=BIGINT}-->
<!--    </update>-->

<!--    <update id="payByUserId" parameterType="org.example.ec.entities.UserInfo">-->
<!--        update User set-->
<!--            userBalance = userBalance - #{price}-->
<!--        where userId = #{userId,jdbcType=BIGINT}-->
<!--    </update>-->
</mapper>